.wrapper {
    display: grid;
    width: 920px;
    grid-template-columns: 50px 40px auto 50px 40px;
    grid-template-rows: 40px auto;
    grid-row-gap: 10px;
}

.commentInput {
    display: inline-block;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 3/4;
    color: #999;
    background-color: #fff;
    font-size: 14px;
    width: 100%;
}

input[type="text"] {
    width: 75%;
    height: 20px;
    cursor: pointer;
    border: 1px solid #e5e5e5;
    outline: none;
    font-size: 14px;
}

input[type="text"]:hover {
    border-color: #e5e5e5;
}

.createButtons {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-top: 5px;
    padding-left: 10px;
    width: 80%;
    border-bottom: 2px solid whitesmoke;
    margin-bottom: 5px;
    padding-bottom: 15px;
}
.profilePic {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
} 

.createButtons .form-buttons {
    min-width: 100px;
    text-align: center;
}

ul {
    display: inline;
    overflow-x: hidden;
    white-space: nowrap;
}

li {
    display: inline;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
}

i {
    padding: 5px;
}

#profilePic {
    border-radius: 10px;
}

button {
    cursor: pointer;
}
button:hover {
    border-color: #f50;
    background-color: #f50
}

#buyIn {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.artistPic {
    width: 100%;
}
.textbox {
    display: block;
    padding: 8px;
}
