.wrapper {
    display: grid;
    width: 920px;
    grid-template-columns: 50px 40px auto 50px 40px;
    grid-template-rows: 40px auto;
    grid-row-gap: 10px;
}

.commentInput {
    display: inline-block;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 3/4;
    color: #999;
    background-color: #fff;
}

.createButtons {
    display: inline-block;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    padding-left: 10px;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 85%;
    height: 20px;
    cursor: pointer;
    border: 7px solid #f2f2f2;
    outline: none;
    font-size: 14px;
    border-radius: 5px;
}

input[type="text"]:focus {
    border-color: #e5e5e5;
}

.profilePic {
    display: block;
    width: 40px;
    height: 40px;
    float: left;
} 

#profilePic {
    border-radius: 10px;
}

.textbox {
    display: block;
    padding: 2px;
}

button {
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding-right: 5px;
    margin-right: 5px;
    min-width: 50px;
}

button:hover {
    border-color: #f50;
}

ul {
    display: inline;
    overflow-x: hidden;
    white-space: nowrap;
}

li {
    display: inline;
    color: #999;
    font-size: 12px;
    line-height: 16px;
    padding: 5px;
}

.miniStats:hover {
    color: black;
    cursor: pointer;
}

i {
    padding: 5px;
}

#buyIn {
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

.border {
    display: inline-block;
    border-bottom: 2px solid whitesmoke;
    width: 90%;
    padding-bottom: 5px;
    padding-left: 5px;
}


