body {
    font-family: 'Overpass', sans-serif;
}
.container {
    display: grid;
    width: 920px;
    grid-template-columns: 120px 50px auto 50px 40px;
    grid-template-rows: 25px auto;
    grid-row-gap: 10px;
}
.totalCommentsCount {
    color: #999;
    font-size: 14px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    border-bottom: 2px solid whitesmoke;
    height: 20px;
    width: 83%;
    padding-bottom: 5px;
}

.allComments {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
}

.eachComment {
    position: relative;
    background-color: whitesmoke;
    font-size: 12px;
    margin: 5px;
}

.commentsIcon {
    height: 21px;
    width: 21px;
    vertical-align: bottom;
    margin-right: -1px;
    padding-left: 5px;
    padding-right: 5px;
}

.placeHolder {
    border: 2px solid;
    margin: 10px;
    font-size: 36px;
    width: 80%;
    text-align: center;
}

li {
    list-style-type: none;
    border-radius: 10px;
}

.commentContainer {
    display: inline-grid;
    border-radius: 10px;
    min-width: 90%;
    max-width: 90%;
}
.innerWrap {
    padding-left: 50px;
    padding-right: 75px;
}

.artistPic {
    border-radius: 50px;
    width: 100%;
}

.artistName {
    display: block;
    color:#999;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.timeAgo {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #999;
    font-size: 11px;
}

.commentText {
    display: inline-block;
    color: black;
}

