body {
    font-family: 'Overpass', sans-serif;
}

.container {
    display: grid;
    width: 920px;
    grid-template-columns: 120px 50px auto 50px 40px;
    grid-template-rows: 25px auto;
    grid-row-gap: 10px;
}

.com-totalCommentsCount {
    color: #999;
    font-size: 14px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    border-bottom: 2px solid whitesmoke;
    height: 20px;
    width: 83%;
    padding-bottom: 5px;
}

.com-commentContainer {
    display: inline-grid;
    border-radius: 10px;
    min-width: 90%;
    max-width: 90%;
}

.com-allComments {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
    margin-bottom: 15px;
}

.com-eachComment {
    position: relative;
    background-color: whitesmoke;
    font-size: 12px;
    margin: 5px;
    min-height: 55px;
}

.com-commentsIcon {
    height: 21px;
    width: 21px;
    vertical-align: bottom;
    margin-right: -1px;
    padding-left: 5px;
    padding-right: 5px;
}

.com-innerWrap {
    padding-left: 50px;
    padding-right: 125px;
}
.com-artistPic {
    border-radius: 50px;
    width: 100%;
}

.com-artistName {
    display: block;
    color:#999;
    font-size: 11px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
}

.com-timeAgo {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #999;
    font-size: 11px;
}

.com-commentText {
    display: inline-block;
    color: black;
    font-size: 13px;
}

li {
    list-style-type: none;
    border-radius: 10px;
}

/* Will go away upon implementing Proxy */

.placeHolder {
    border: 2px solid;
    margin: 10px;
    font-size: 36px;
    width: 80%;
    text-align: center;
}

.com-options {
    position: absolute;
    top: 29px;
    left: 521px;
}

.com-modalReply {
    display: inline;
    position: relative;
    padding-right: 3px;
    text-decoration: none;
}

 .com-modalDelete {
    display: inline;
    position: relative;
 }

 .com-modal-commentButton {
    border: 0.5px solid #e5e5e5;
    list-style-type: none;
    text-decoration: none;
    font-size: 10px;
    background-color:white;
    border-radius: 5px;
    color: black;
    min-height: 22px;
    min-width: 25px;
    padding: 0px;
 }
 .replyButton {
    min-width: 65px;
 }

 .com-modal-commentButton:hover {
    border: 0.5px solid#999;
 }

 .com-bottom-border {
    position: relative;
    display: block;
    border-top: 2px solid whitesmoke;
    width: 89%;
    padding-bottom: 5px;
    padding-left: 5px;
    grid-row: 3/4;
    grid-column: 2/4;
    height: 14px;
    left: 0px;
    top: -5px;
}
.com-bottom-border:before{
    content: '';
    position: absolute;
    background: url(https://a-v2.sndcdn.com/assets/images/stopper-9d4f27a.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 14px;
    top: -9px;
}